<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragment/head :: head"></head>
<body>
<div class="container">
    <header th:replace="/fragment/navbar :: navbar"></header>
    <h1 th:text="#{addPayment.text}"></h1>
    <label th:text="${Exception}"></label>
    <form  th:action="@{|/add-user-payment/${paymentId}|}"  method="post" th:object="${userPayment}">
        <label> <a th:text="#{number.text}"/>  <input type="number" th:field="*{number}"/></label>
        <label> <a th:text="#{pin.text}"/>  <input  type="number" th:field="*{pin}"/></label>
        <label> <a th:text="#{cost.text}"/> <input  type="number" th:field="*{cost}"/></label>
        <a th:text="${Error}"></a>
        <div><button class="btn" type="submit"  th:text="#{submit.button}"></button></div>
    </form>
</div>
</body>
</html>