<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragment/head :: head"></head>
<body>
<div class="container">
    <header th:replace="/fragment/navbar :: navbar"></header>
    <h2 th:inline="text"> Account <a th:text="${account.name}"></a></h2>
    <a class="btn btn-outline-primary" th:href="@{/main/credit-card/{id}(id =${account.id})}">create card</a>
    <div th:unless="${#lists.isEmpty(account.getCreditCards())}">
    <table class="table">
        <thead>
        <tr>
            <th th:text="#{number.text}"></th>
            <th th:text="#{type.text}"></th>
            <th th:text="#{endData.text}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${creditCards}">
            <td th:text="${card.number}"> </td>
            <td th:text="${card.cardType}"> </td>
            <td  th:text="${card.date}"> ></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div th:if="${#lists.isEmpty(account.getCreditCards())}">
        <h2 th:text="#{errorCreditCard.text}"></h2>
    </div>
</div>
</body>
</html>