<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragment/head :: head"></head>
<body>
<div class="container">
<header th:replace="/fragment/navbar :: navbar"></header>
    <a  href="/addAccount">Add new account</a>
<h1 th:inline="text"><a th:text = "#{hello.text}"></a> [[${#httpServletRequest.remoteUser}]]!</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Costs</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td> <span th:text="${account.name}"> </span><td/>
            <td> <span th:text="${account.number}"> </span></td>
            <td> <span th:text="${account.costs}"> </span></td>
            <div th:unless="${#lists.isEmpty(account.getCreditCards())}">
            <td><a th:href="@{/main/{id}(id =${account.id})}">addCosts</a></td>
            </div>
            <td><a th:href="@{/main/creditCard/{id}(id =${account.id})}">create card</a></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>