<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragment/head :: head"></head>
<body>
<div class="container">
<header th:replace="/fragment/navbar :: navbar"></header>

<h1 th:inline="text"><a th:text = "#{hello.text}"></a> [[${#httpServletRequest.remoteUser}]]!</h1>
    <a class="btn btn-outline-primary"  href="/add-account" th:text="#{newAccount.text}"></a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{accountName.text}"></th>
            <th scope="col" th:text="#{number.text}"></th>
            <th scope="col" th:text="#{cost.text}"></th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="account : ${accounts.content}">
            <td th:text="${account.name}"> </td>
            <td th:text="${account.number}"> </td>
            <td th:text="${account.costs}">> </td>
            <td><a class="btn btn-outline-primary" th:href="@{/main/credit-card-list/{id}(id =${account.id})}" th:text="#{myCards.text}"></a></td>
            <div th:unless="${#lists.isEmpty(account.getCreditCards())}">
                <td><a class="btn btn-outline-primary" th:href="@{/main/{id}(id =${account.id})}" th:text="#{addCosts.text}"></a></td>
            </div>
        </tr>
    </table>
    <ul th:if="${accounts.totalPages > 0}" class="nav nav-tabs justify-content-center">
        <li class="nav-item"  th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/main(size=${accounts.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==accounts.number + 1} ? active"></a>
        </li>
    </ul>
</div>
</body>
</html>