<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragment/head :: head"></head>
<body>
<div class="container">
<a th:text="#{registration.text }"></a>

<a th:text="${name}"></a>
    <form th:action="@{/registration}"  method="POST" th:object="${user}" >
        <div><label> firstName: <input  th:field="*{firstName}" /> </label></div>
        <div><label> lastName: <input  th:field="*{lastName}" /> </label></div>
        <div><label> <a th:text="#{userName.text}"/> <input  th:field="*{email}" /> </label></div>
        <div><label> <a th:text="#{password.text}"/> <input type="password"  th:field="*{password}" /> </label></div>
        <div><label> <a th:text="#{password.text}"/> <input type="password" type="matchingPassword"  th:field="*{password}" /> </label></div>
    <div><button class="btn" type="submit"  th:text="#{signUp.button}"></button></div>
</form>
</div>
</body>
</html>
