<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragment/head :: head"></head>
<body>
<div class="container">
    <header th:replace="/fragment/navbar :: navbar"></header>
    <h1  th:text="#{myPayments.text}"></h1>
    <div th:unless="${#lists.isEmpty(user_payments.content)}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"  th:text="#{property.text}"></th>
            <th scope="col" th:text="#{purpose.text}"></th>
            <th scope="col" th:text="#{cost.text}"></th>
            <th scope="col" th:text="#{time.text}"></th>
            <th scope="col" th:text="#{cardNumber.text}"></th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="user_payment : ${user_payments.content}">
            <td th:text="${user_payment.payment.property}"> </td>
            <td th:text="${user_payment.payment.purpose}"> </td>
            <td th:text="${user_payment.cost}"> </td>
            <td th:text="${user_payment.localDateTime}"> </td>
            <td th:text="${user_payment.creditCard.number}"> </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>