<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragment/head :: head"></head>
<body>
<div class="container">
<header th:replace="/fragment/navbar :: navbar"></header>

<table>
    <thead>
    <tr>
        <th th:text="#{userName.text}"></th>
        <th th:text="#{role.text}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td> <span th:text="${user.username}"> Title </span><td/>
        <td> <span th:text="${user.roles}"> </span></td>
        <td><a th:href="@{/user/{id}(id =${user.id})}" th:text="#{edit.text}"></a></td>
        <td> <label><input type="checkbox" name="active"  th:checked="${user.active}"> <a th:text="#{active.text}"></a></label></td>
    </tr>
    </tbody>
</table>
    </div>
</body>
</html>