<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="/fragment/head :: head"></head>
<body>
<div class="container">
    <header th:replace="/fragment/navbar :: navbar"></header>
    <h1  th:text="#{myPayments.text}"></h1>
    <div th:unless="${#lists.isEmpty(user_payments.content)}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"  th:text="#{property.text}"></th>
            <th scope="col" th:text="#{purpose.text}"></th>
            <th scope="col" th:text="#{cost.text}"></th>
            <th scope="col" th:text="#{time.text}"></th>
            <th scope="col" th:text="#{cardNumber.text}"></th>
        </tr>
        </thead>
        <tbody>
        <td>
            <a class="btn btn-outline-primary" th:href="@{/payments(sort='DESC', nameBy='payment.property')}"  th:text="#{sort.desc}"></a>
            <a class="btn btn-outline-primary" th:href="@{/payments(sort='ASC', nameBy='payment.property')}"  th:text="#{sort.asc}"></a>
        </td>
        <td>
            <a class="btn btn-outline-primary" th:href="@{/payments(sort='DESC', nameBy='localDateTime')}"  th:text="#{sort.desc}"></a>
            <a class="btn btn-outline-primary" th:href="@{/payments(sort='ASC', nameBy='localDateTime')}"  th:text="#{sort.asc}"></a>
        </td>
        <tr scope="row" th:each="user_payment : ${user_payments.content}">
            <td th:text="${user_payment.payment.property}"> </td>
            <td th:text="${user_payment.localDateTime}"> </td>
            <td th:text="${user_payment.payment.purpose}"> </td>
            <td th:text="${user_payment.cost}"> </td>
            <td th:text="${user_payment.creditCard.number}"> </td>
        </tr>
    </table>
        <ul th:if="${user_payments.totalPages > 0}" class="nav nav-tabs justify-content-center">
            <li class="nav-item"  th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/payments(size=${user_payments.size}, page=${pageNumber} , sort=${sort}, nameBy=${nameBy})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==user_payments.number + 1} ? active"></a>
            </li>
        </ul>
</div>
</div>
</body>
</html>